.header {
  display: grid;
  grid-template-columns: repeat(1, 597px 148px 595px);
  grid-template-rows: repeat(1, 109px);
  margin: 92px 49px 92px 51px;
}

.header_menu {
  padding-top: 43px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header_links_list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_link {
  text-underline-offset: 4px;
}

.header_links_list_item_no_bullit {
  list-style: none;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  margin-bottom: 4px;
}

.header_logo_image {
  height: 100%;
}

.address {
  display: grid;
  justify-content: end;
  align-content: center;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 1440px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover_title {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(1, 115px 100px 100px);
  align-items: center;
  gap: 20px;
  padding: 165px 50px 135px;
}

.aligned_text {
  display: flex;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned_text_left {
  justify-content: start;
}

.aligned_text_center {
  justify-content: center;
}

.aligned_text_right {
  justify-content: end;
}

.letter_spacing_extended {
  letter-spacing: 60px;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 78px;
  width: 1440px;
}

.cover_description_text {
  padding-top: 12px;
  padding-left: 422px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet_button {
  margin-bottom: 50px;
  border: 1px solid;
  padding: 12px 32px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 50px;
}

.lots_heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots_card_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  list-style: none;
}

.lots_card_list_item {
  position: relative;
  z-index: 1;
  width: 430px;
  height: 450px;
}

.card_link {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.card {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.cards_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 40px;
}

.card_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-grow: 1;
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots_look_more_link {
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: repeat(1, 430px 885px);
  grid-template-rows: repeat(1, 487px);
  gap: 25px;
  margin: 181px 50px 0px;
}

.about_column_left {
  display: grid;
  justify-items: center;
}

.about_logo {
  display: grid;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo_image {
  margin: 63px 46px;
  background-image: url(../images/logo-white.svg);
}

.about_column_right {
  display: grid;
}

.about_title {
  padding: 100px 0px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about_text {
  display: grid;
  align-items: end;
  gap: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 240px 149px 240px);
  grid-template-rows: repeat(1, 97px);
  justify-content: space-between;
  align-items: start;
  margin: 181px 50px 90px;
}

.footer_menu {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.footer_links_list {
  display: grid;
  justify-items: center;
  list-style-type: none;
}

.footer_social_list_items {
  display: flex;
  align-items: start;
  gap: 48px;
  width: 240px;
  list-style-type: none;
}